<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update event</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/index.css}" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .update-container{
            border: 1px solid black;
            padding:0px 16px;
            margin-top: 70px;
        }
        .form-item{
            margin: 10px;
        }
        .form-item__label{
            display:block;
            margin-bottom: 3px;
        }
        .title-container{
            margin: 36px 0px;
        }
        .form-item__input{
            display: block;
            width: 100%;
        }
        .submit-btn-container{
            text-align: center;
            margin: 24px 0px 16px 0px;
        }
    </style>
</head>
<body>

<div class="container base">
    <div class="row base-row">
        <div class="col-3 menu">
            <div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
                <h4>Bhanu Gold Theatre</h4>
            </div>
            <ul class="list">
                <li><a  th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
                <li th:if="${session.user.bid==1}"><a th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;All Users</a></li>
                <li><a th:href="@{/manageFilm}"><i class="fa-solid fa-film"></i>&nbsp;&nbsp;Manage film</a></li>
                <li><a th:href="@{/manageEvent}"><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;Manage event</a></li>
            </ul>
        </div>
        <div class="col-9 main-dashboard">
            <div class="container col-md-6 update-container">
                <h1 class="text-primary text-center mt-3 title-container">Update Event</h1>
                <form th:action="@{/saveNewEvent}" method="post" th:object="${event}">
                    <div class="form-item">
                        <label class="form-item__label" for="id">Event Image</label>
                        <input class="form-item__input" type="text" id="id" th:field="*{id}">
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="image">Event Image</label>
                        <input class="form-item__input" type="text" id="image" th:field="*{image}">
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="day">Event Day</label>
                        <input   class="form-item__input" type="text" id="day" th:field="*{day}">
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="duration">Event Duration</label>
                        <input  class="form-item__input" type="text" id="duration" th:field="*{duration}" >
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="location">Event location</label>
                        <input  class="form-item__input" type="text" id="location" th:field="*{location}">
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="title">Event Title</label>
                        <input  class="form-item__input" type="text" id="title" th:field="*{title}">
                    </div>
                    <div class="form-item">
                        <label class="form-item__label" for="content">Event Content</label>
                        <input  class="form-item__input" type="text" id="content" th:field="*{content}">
                    </div>

                    <div class="submit-btn-container">
                        <input type="submit" class="btn btn-success btn-lg" value="Update"></input>
                    </div>
                </form>
            </div>



        </div>
    </div>

</div>

</body>
</html>