<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/index.css}" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>Bhanu Gold Theatre</h4>
			</div>
				<ul class="list">
					<li><a th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:if="${session.user.bid==1}"><a th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;All Users</a></li>
					<li><a th:href="@{/manageFilm}"><i class="fa-solid fa-film"></i>&nbsp;&nbsp;Manage film</a></li>
					<li><a th:href="@{/manageEvent}"><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;Manage event</a></li>
				</ul>
			</div>
			<div class="col-9 history">
				<div class="history-section">

							<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Password</th>
							<th scope="col">All seats</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${records}">
							<th th:text="${customer.bid}"></th>
							<th th:text="${customer.name}"></th>
							<th th:text="${customer.email}"></th>
							<th th:text="${customer.password}"></th>
							<th><a th:href="@{all-seats/{id}(id=${customer.bid})}">view seats</a></th>

						</tr>


					</tbody>
				</table>

						

				</div>
			</div>
		</div>

	</div>

	<!-- <script th:inline="javascript">
	let str = [[${list1}]];
	let obj = JSON.parse(str);
	console.log(obj.seat);
	document.write(obj);
	
	</script> -->
</body>
</html>